body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3b5998;
  color: white;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  margin-left: 20%;
}

header h5 {
  margin-right: 20%;
}

.register-button {
  background-color: #42b72a;
  color: white;
  height: 25px;
  margin: 33px 5px;
}

main {
  margin-top: 0px;
  background-color: #e9ebee;
  display: flex;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 13%;
}

.body-list {
  display: flex;
}

.operate-caption {
  text-align: center;
}

.operate-figure {
  text-align: center;
}

.operate-left {
  background-color: white;
  margin: 50px 20px 0 0;
  text-align: center;
}

.operate-right {
  background-color: white;
  margin: 50px 0 0 0;
  text-align: center;
}

.operate-left button,
.operate-right button {
  margin-top: 50px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
}
